<!DOCTYPE html>

<html>

<head>
  <title>d39 meetings</title>
</head>

<body>
<a href="https://district-39.github.io/">
   Home
</a>
  <h1>District 39 Meetings</h1>
  <ul>
    <li>
        <a href="https://district-39.github.io/district-meetings/2025-02-15/index.html">2025 February</a>
        <a href="https://district-39.github.io/district-meetings/2026-01-21/index.html">2026 January</a>
        <a href="https://district-39.github.io/district-meetings/2025-12-21/index.html">2025 December</a>
        <a href="https://district-39.github.io/district-meetings/2025-11-23/index.html">2025 November</a>
        <a href="https://district-39.github.io/district-meetings/2025-07-20/index.html">2025 July</a>
        <a href="https://district-39.github.io/district-meetings/2025-09-21/index.html">2025 September</a>
        <a href="https://district-39.github.io/district-meetings/2025-10-19/index.html">2025 October</a>
    </li>
  </ul>
</body>

</html>

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
<a href="https://district-39.github.io/">
   Home
</a> | <a href="https://district-39.github.io/district-meetings/2025-12-21/index.html">index</a>
<h2 class="title">District 39 Minutes</h2>
<h1 class="subtitle">December 21, 2025</h1>

<div class="comittee-report">
<div class="report-body">
    <table>
      <!-- ------------------------------------- TREASURY REPORT -------------------------------------- -->
        <tr> 
            <td class="title beginning treasury treasury-header">
                Treasurer Report (Scotty)
            </td>
            <td class="treasury hidden"></td>
            <td class="treasury hidden"></td>
        </tr>
        <tr class="divider"> 
            <td class="beginning treasury treasury-item">Beginning Balance</td>
            <td class="operand treasury"></td>
            <td class="beginning treasury numeric treasury-value"></td>
        </tr>
        <tr> 
            <td class="beginning treasury treasury-item">Prudent Reserve</td>
            <td class="operand treasury">-</td>
            <td class="beginning treasury numeric treasury-value">$500.00</td>
        </tr>
        <tr> 
            <td class="beginning treasury treasury-item">Cash on Hand</td>
            <td class="operand treasury"></td>
            <td class="beginning treasury numeric treasury-value total">5</td>
        </tr>
        <!-- ------------------------------------- EXPENSES -------------------------------------- -->
        <tr class="divider"> 
            <td class="expenses treasury treasury-header"></td>
            <td class="treasury hidden"></td>
            <td class="treasury hidden"></td>
        </tr>
        <tr> <!-- expense item -->
            <td class="expenses treasury treasury-item">
                <span class="checkno"></span>>
            </td>
            <td class="operand treasury"></td>
            <td class="expenses treasury numeric treasury-value"></td>
        </tr>
        <tr> <!-- expense item Workshop Title Row-->
            <td class="expenses treasury treasury-item">
                Workshop
            </td>
            <td class="operand treasury"><span class="checkno"></span></td>
            <td class="expenses treasury numeric treasury-value"></td>
        </tr>
        <tr> <!-- expense item -->
            <td class="expenses treasury treasury-item">
            </td>
            <td class="operand treasury">
                <span class="checkno"></span></td>
            <td class="expenses treasury numeric treasury-value"></td>
        </tr>
        <tr> <!-- expense item -->
            <td class="expenses treasury treasury-item">
            </td>
            <td class="operand treasury">
                <span class="checkno"></span></td>
            <td class="expenses treasury numeric treasury-value"></td>
        </tr>
        <tr> <!-- expense item -->
            <td class="expenses treasury treasury-item">
            </td>
            <td class="operand treasury">
                <span class="checkno"></span></td>
            <td class="expenses treasury numeric treasury-value"></td>
        </tr>
        <tr> 
            <td class="expenses treasury treasury-item">Total Expenses</td>
            <td class="operand treasury"></td>
            <td class="expenses treasury numeric treasury-value total">- $</td>
        </tr>
        <!-- ------------------------------------- CONTRIBUTIONS -------------------------------------- -->
        <tr class="divider"> 
            <td class="contribution treasury treasury-header">Contributions</td>
            <td class="treasury hidden"></td>
            <td class="treasury hidden"></td>
        </tr>
        <tr> 
            <td class="contribution treasury treasury-item">Groups</td>
            <td class="operand treasury"></td>
            <td class="contribution treasury numeric treasury-value">$</td>
        </tr>
        <tr> 
            <td class="contribution treasury treasury-item"></td>
            <td class="operand treasury"></td>
            <td class="contribution treasury numeric treasury-value"></td>
        </tr>
        <tr> 
            <td class="contribution treasury treasury-item">Total Contributions</td>
            <td class="operand treasury"></td>
            <td class="contribution treasury numeric treasury-value total">$</td>
        </tr>
        <!-- ------------------------------------- FINAL AMOUNTS -------------------------------------- -->
        <tr class="divider-total"> 
            <td class="treasury-summary ending treasury treasury-item">Total Cash On Hand</td>
            <td class="operand treasury"></td>
            <td class="ending treasury numeric treasury-value">$</td>
        </tr>
        <tr> 
            <td class="ending treasury treasury-item">Prudent Reserve</td>
            <td class="operand treasury">+</td>
            <td class="ending treasury numeric treasury-value">$500</td>
        </tr>
        <tr> 
            <td class="ending treasury treasury-item">Ending Balance</td>
            <td class="operand treasury"></td>
            <td class="total ending treasury numeric treasury-value">$</td>
        </tr>
    </table>

</div>
</div>

<div class="comittee-report">
    <h3 class="committee-title">Visitation (Dewy)</h3>
    <div class="report-body">
      <ul class="report-ul">
        <li>
          
        </li>
      </div>
</div>

</div>
    
</body>
</html>